*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(17, 187, 209), rgb(14, 111, 175));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.location span{
    font-size: 50px;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
    user-select: none;
}
.degree-section h2{
    font-size: 40px;
    user-select: none;
}
#info-toggle-btn{
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
    z-index: 2;
}
#info-toggle-btn:hover{
    transform: scale(1.2);
}
.info{
    position: fixed;
    top: 0;
    right: -440px;
    height: 90vh;
    width: 400px;
    z-index: 2;
    background-color: rgb(240, 240, 240);
    color: #333;
    font-size: 20px;
    padding: 50px;
    transition-duration: 0.5s;
    border-radius: 10px;
    margin: 40px 40px 0 0;
    
}
.info p{
    padding: 20px;
}
.info span{
    font-size: 30px;
}
.info #temp-icon{
    font-size: 40px;
    padding: 0 50px;
}
.settings{
    position: fixed;
    top: 0;
    left: -440px;
    z-index: 2;
    height: 90vh;
    width: 400px;
    background-color: rgb(240, 240, 240);
    padding: 50px;
    transition-duration: 0.5s;
    border-radius: 10px;
    margin: 40px 0 0 40px;
    color: #333;
}
.settings label{
    padding: 20px;
}
.settings hr{
    margin: 30px;
}
.colors{
    display: flex;
    flex-direction: column;
}
.colors div{
    margin: 20px;
}
#toggle-setting-btn{
    font-size: 30px;
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
}

